<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojos</title>
</head>
<body>
    <h1>Our Dojos:</h1>
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
    </ul>
    <h2>Fill out our form to get more info</h2>
    <form action='' method='post'>
        Full Name
        <input type=text value=Name placeholder="Enter Name">
        Email address
        <input type=text value=Email placeholder="Enter your email">
        <button type=submit value=Submit>Send me info</button>
    </form>
    <a href="/">Go back to home page</a>
</body>
</html>