<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojo Survey Index</title>
</head>
<style>
    form {
        width:400px;
        padding: 20px;
        border: 5px solid black;
    }
    input, select, textarea {
        display: inline-block;
        vertical-align:center;
        margin: 10px;
    }
    p{
        width: 410px;
        background: red;
        color:white;
        padding:20px;
        text-align: center;
        font-size: 24px;
    }
</style>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>ERROR: {{message}}</p>
          {% endfor %}
        {% endif %}
    {% endwith %}
    <form action='/result' method='post'>
        <label for="name">Your Name:</label>
        <input type='text' placeholder='Enter your name' name="name" id="name">
        <br>
        <label for="dojoLocation">Dojo Location:</label>
        <select name="dojolocation" id="dojoLocation">
            <option value="San Jose">San Jose</option>
            <option value="Phoenix">Phoenix</option>
            <option value="Seattle">Seattle</option>
        </select>
        <br>
        <label for="favoriteLanguage">Favorite Language:</label>
        <select name="favoriteLanguage" id="favoriteLanguage">
            <option value="Java">Java</option>
            <option value="Python">Python</option>
            <option value="C++">C++</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Ruby">Ruby</option>
            <option value="PHP">PHP</option>
        </select>
        <br>
        <label for="comment">Comment(optional):</label>
        <br>
        <textarea id="comment" name="comment"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>